@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
$color1 : black;
$textcolor: #450007;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    font-family: sans-serif;
    background-color: black;
    p {
        color: #a80c02;
        font-weight: bolder;
        font-size: 25px;
        padding: 5px 0px;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 16px;   
        font-weight: bold;    
    }
}

.navbar {
    list-style: none;
    
    li {
        display: inline-block;
        padding: 0px 25px;

        a:hover {
            color: #a80c02;
        }
    }
}

.background { 

    position: relative;
    text-align: center;
    color: white;

    img {
        width: 100%;
    }

    .message {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(168, 12, 2, 0.7);
        padding: 20px;
        border-radius: 10px;

        a {
            text-decoration: none;

            button {
                padding: 9px 25px;
                background-color: #a80c02;
                border: none;
                border-radius: 50px;
                font-weight: bold;
            }
        }
    }

}


button:hover {
    text-decoration: underline;
}

body {
    font-family: sans-serif;
}

.presentation {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    color: $textcolor;
    background-color: rgb(168, 12, 2, 0.7);
    padding: 20px;
    border-radius: 10px;

}


.cartes {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card1 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px;
    grid-template-areas: "image1" "text1";
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    .image-card1 {
        grid-area: image1;
        background: url(images/commerce-image.png);
        background-size: cover;
    }

    .text-card1 {
        grid-area: text1;
    }
}

.card2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px;
    grid-template-areas: "image2" "text2";
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    
    .image-card2 {
        grid-area: image2;
        background: url(images/commerce-image.png);
        background-size: cover;
    }

    .text-card2 {
        grid-area: text2;
    }

}

.competences {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#projets {
    background-image: url(images/background2.jpg);
    background-size: cover;
}

