* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page1 {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  font-family: sans-serif;
  background-color: black;
}
header p {
  color: #a80c02;
  font-weight: bolder;
  font-size: 25px;
  padding: 5px 0px;
}
header a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
}

.navbar {
  list-style: none;
}
.navbar li {
  display: inline-block;
  padding: 0px 25px;
}
.navbar li a:hover {
  color: #a80c02;
}

.background {
  position: relative;
  text-align: center;
  color: white;
}
.background img {
  width: 100%;
}
.background .message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(168, 12, 2, 0.7);
  padding: 20px;
  border-radius: 10px;
}
.background .message a {
  text-decoration: none;
}
.background .message a button {
  padding: 9px 25px;
  background-color: #a80c02;
  border: none;
  border-radius: 50px;
  font-weight: bold;
}

button:hover {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
}

.presentation {
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  color: #450007;
  background-color: rgba(168, 12, 2, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.cartes {
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.card1 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px;
  grid-template-areas: "image1" "text1";
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: white;
}
.card1 .image-card1 {
  grid-area: image1;
  background: url(images/commerce-image.png);
  background-size: cover;
  border-radius: 10px;
}
.card1 .text-card1 {
  grid-area: text1;
}

.card2 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px;
  grid-template-areas: "image2" "text2";
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: white;
}
.card2 .image-card2 {
  grid-area: image2;
  background: url(images/background-code.jpg);
  background-size: cover;
  border-radius: 10px;
}
.card2 .text-card2 {
  grid-area: text2;
}

.competences {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  text-decoration: underline;
}

#projets {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background2.jpg);
  background-size: cover;
}

.intro-projets {
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 100px;
  color: white;
  background-color: rgba(168, 12, 2, 0.7);
  padding: 40px;
  border-radius: 10px;
}

button {
  padding: 9px 25px;
  background-color: #450007;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
}

.projet-texte {
  text-align: center;
  margin: 200px;
}
.projet-texte p {
  width: 40%;
  text-align: left;
  margin: 15px;
}

#about {
  background: url(images/background3.jpg);
  background-size: cover;
}

.projetslist {
  text-align: center;
  margin-top: 100px;
}
.projetslist a {
  text-decoration: none;
  color: #450007;
}

.texte-projet2 {
  text-align: center;
  margin: 100px;
}
.texte-projet2 p {
  width: 40%;
  margin: 10px auto;
  margin-top: 20px;
}
.texte-projet2 img {
  width: 30%;
}

.middle {
  margin: auto;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
