@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
$color1 : black;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    font-family: sans-serif;
    background-color: black;
    p {
        color: #a80c02;
        font-weight: bolder;
        font-size: 25px;
        padding: 5px 0px;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 16px;   
        font-weight: bold;    
    }
}

.navbar {
    list-style: none;
    
    li {
        display: inline-block;
        padding: 0px 25px;

        a:hover {
            color: #a80c02;
        }
    }
}

.background {
    width: 100%;
}